:global(.guesser) {
  padding-left: 0px !important;
  padding-right: 0px !important;
  width: 100% !important;
}

:global(.Caption) {
  background: none !important;
}

.base {
  position: relative;
}

.base * {
  box-sizing: border-box;
}

.loader {
  position: absolute;
  top: 20px;
  left: 20px;
}

.options {
  .otherButtons {
    text-align: center;

    & > button {
      margin: 0 5px;
    }
  }

  .leftButton,
  .rightButton,
  .bothButton {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .leftButton,
  .rightButton,
  .bothButton,
  .neitherButton {
    font-size: 18px;
    line-height: 42px;
    padding: 0 18px;
    border: none;
    background: white;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    border-radius: 1px;

    &:hover {
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
    }
  }

  .leftButton {
    left: 25%;
  }

  .rightButton {
    left: 75%;
  }

  .neitherButtonWrapper {
    text-align: center;
  }
}

.loader {
}

.results {
  .leftResult,
  .rightResult,
  .bothResult {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
  }

  .leftResult {
    left: 25%;
  }

  .rightResult {
    left: 75%;
  }

  .neitherResult {
    width: 40%;
    margin: auto;
  }
}
